In [1]:
def results_as_df(matrix):
    """Recebe um dataset 5x5 e retorna como um Dataframe pandas com nomes"""
    matrix = np.array(matrix)
    assert matrix.shape == (5,5), "A matriz passada deve ser 5x5"
    column_names =  [ '0.01', '0.03', '0.1', '0.3', '1' ]
    row_names = [ '10', '20', '50', '100', '200' ]
    return pd.DataFrame(matrix, columns=column_names, index=row_names)

In [2]:
import numpy as np
import pandas as pd

In [3]:
resultados = results_as_df(np.zeros((5,5)))

In [4]:
resultados

     0.01  0.03  0.1  0.3    1
10    0.0   0.0  0.0  0.0  0.0
20    0.0   0.0  0.0  0.0  0.0
50    0.0   0.0  0.0  0.0  0.0
100   0.0   0.0  0.0  0.0  0.0
200   0.0   0.0  0.0  0.0  0.0

In [5]:
eta = 0.01
epoca = 20

In [6]:
resultados[str(eta)][str(epoca)] = 7

In [7]:
resultados

     0.01  0.03  0.1  0.3    1
10    0.0   0.0  0.0  0.0  0.0
20    7.0   0.0  0.0  0.0  0.0
50    0.0   0.0  0.0  0.0  0.0
100   0.0   0.0  0.0  0.0  0.0
200   0.0   0.0  0.0  0.0  0.0